 @CHARSET "UTF-8";

/* div.delete{display:inline-block;position:relative;}
div.delete input[type=submit]{padding:10px 20px;font-size:16px;cursor:pointer;}
div.delete i{position:absolute;top:50%;left:50%;margin-top:-0.5em;margin-left:-1.5em;} */
