@CHARSET "UTF-8";

body{

	background-color:#06FEED;
	padding: 10px 150px;
}

div.main-contents{
	height:100%;
	width:85%;
	padding: 20px 40px;
	text-align: center;
	margin: auto;


}

div.border{
	border-radius: 10px;
	border:solid;
	border-color:#00bcd4;
	background-color:#FFFFFF;
}

.header{

	text-align:left;
	border:solid;
	border-color:#00bcd4;
	background-color:#00BCD4;
}

.menu{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFFFFF;
    background: #00BCD4;
    transition: .4s;
  }

.menu:hover {
    background: #FFFFFF;
    color: #00BCD4;
}

.logout{
	float:right;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFFFFF;
    background: #00BCD4;
    transition: .4s;
  }

.logout:hover {
    background: #FFFFFF;
    color: #00BCD4;
}

div.title{
	font-size:170%;
	font-weight:bold;
}
div.pagetitle{
	margin:auto;
	width:80%;
	text-align:left;
	font-size:130%;
	font-weight:bold;

}

div.loginbuttom{
	text-align:center;
}
input.loginbuttom{
	width:100px;
	height:35px;
	font-size:large;
	position: relative;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #000000;
    background: #C4F6F8;
    border-bottom: solid 2px #000000;
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}

div.login{
	margin:auto;
	width:30%;
	height:100%;
	text-align:left;
	font-size:large;
}

input.logintext{
	width:100%;
	margin:auto;
    padding: 0.8em;
    outline: none;
    border: 1px solid #DDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
}

input.logintext:focus,
texture:focus {
    box-shadow: 0 0 7px #3498db;
    border: 1px solid #3498db;
}

div.newmessage{
	margin:auto;
	width:80%;
	height:100%;
	padding:5px;
	text-align:left;

}

li {
  list-style: none;

}

div.errorMessages{
	width:80%;
	height:100%;
	text-align:center;
	margin:auto;
	border-style: dotted;
	color:#FF0000;
	border-color:#FA3A3D;

}

ul{
	margin:auto;
	padding:5px;
}

input#stop{
	background-color:#FF0000;
	color:white;
}

input#recovery{
	background-color:#0000FF;
	color:white;
}

table{
	margin:auto;
	table-layout:auto;
	width:100%;
}

div.messages{
	background-color:#EDFDFC;
	width:90%;
	height:100%;
	margin:auto;
	padding:10px 10px 0px;
	box-shadow: 2px 2px 8px gray;

}

div.comments{
	background-color:#EDFDFC;
	height:100%;
	width:50%;
	padding:10px 10px 0px;
	margin-left: 30px;
	box-shadow: 2px 2px 8px gray;
}

div.subject{
	font-size:130%;
	font-weight:bold;
	text-align:center;
	text-decoration: underline;

}

div.category{
	float:right;
}

div.text{
	font-size:120%;
	word-wrap: break-word;
	text-align: left;

}

div.name{
	float:left;

}

div.createdDate{
	text-align:right;
}

div.nameC{
	text-align:left;
	font-weight:bold;

}
div.buttom{
	text-align: center;
}

div.comment{
	width:100%;
	height:100%;
	margin:auto;

}

input.textarea{
	width:50%;

}

textarea.text{
	width:100%;
	margin:auto;
	width:90%;
    padding: 0.8em;
    outline: none;
    border: 1px solid #DDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
}

textarea.text:focus,
texture:focus {
    box-shadow: 0 0 7px #3498db;
    border: 1px solid #3498db;
}


span.delete{
	float:right;
	position: relative;
    top: -5px;
    right: -10px;
}

div.refine{
	display:none;
	background-color:#00BCD4;
	padding:5px;
	font-size:large;
	text-align:center;
}

div.refine2{
	background-color:#00BCD4;
	padding:5px;
	font-size:large;
	text-align:center;
}
div.rebuttom{
	float:right;

}

input.rebuttom{
	margin-top: 2px;
	width:130px;
	height:35px;
	font-size:large;
	position: relative;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFFFFF;
    background: #00BCD4;
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}


div.settings{
	width:50%;
	height:100%;
	text-align:left;
	margin:auto;
	font-size:large;
}

div.signup{
	width:50%;
	height:100%;
	text-align:left;
	margin:auto;
	font-size:large;
}

input[type="text"]{
	width:90%;
    padding: 0.8em;
    outline: none;
    border: 1px solid #DDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
}

input[type="text"]:focus,
texture:focus {
    box-shadow: 0 0 7px #3498db;
    border: 1px solid #3498db;
}

input.password{
	width:90%;
	margin:auto;
    padding: 0.8em;
    outline: none;
    border: 1px solid #DDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
}

input.password:focus,
texture:focus {
    box-shadow: 0 0 7px #3498db;
    border: 1px solid #3498db;
}

input.categorytext{
	width:20%;
    padding: 0.5em;
    outline: none;
    border: 1px solid #DDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
}

input.categorytext:focus,
texture:focus {
    box-shadow: 0 0 7px #3498db;
    border: 1px solid #3498db;
}

input.refinedata{
	width:20%;
    padding: 0.5em;
    outline: none;
    border: 1px solid #DDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
}

input.refinedata:focus,
texture:focus {
    box-shadow: 0 0 7px #3498db;
    border: 1px solid #3498db;
}

input.form{
	width:60px;
	height:35px;
	font-size:large;
	position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFFFFF;
    background: #00BCD4;
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}

input.form:active {
    border-bottom: solid 2px #fd9535;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

button.deleteform:active {
    border-bottom: solid 2px #fd9535;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

button.deleteform{
	width:30px;
	height:30px;
	font-size:large;
	position: relative;
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    background: #00BCD4;
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}
select{
font-size:large;

}

.tipped {
    color: #BBB;
}

div.empty{
	font-size: xx-large;
}

#pageTop {
  position: fixed;
  bottom: 20px;
  right: 15%;
}

#pageTop i {
  padding-top: 6px
}

#pageTop a {
  display: block;
  z-index: 999;
  padding: 10px;
  border-radius: 30px;
  width: 35px;
  height: 35px;
  background-color:#FFFFFF;
  color: #00BCD4;
  font-weight: bold;
  text-decoration: none;
  text-align: center;

}

#pageTop a:hover {
  text-decoration: none;
  opacity: 0.7;
}

i.fa{
	margin-right:1px;
}